@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    @apply text-gray-800;
}

.hide-scroll-bar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.2s;
  }
  
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
.slide-enter-active, .slide-leave-active {
    transition: all 0.2s;
  }
  
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(-20%);
  }

.slide-modal-enter-active, .slide-modal-leave-active {
    position: absolute;
    transition: all 0.2s;
  }
  
.slide-modal-enter, .slide-modal-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

/*Vuejs Transitions - End*/

.nuxt-link-active.mobile-link{
    & > img{
        @apply border-main-400;
    }
    @apply text-main-400;
}

.text-xxs{
    font-size: 0.50rem;
    line-height: 0.75rem;
}

.title-1{
    font-size: 26px;
    font-weight: 500;
}

.title-2{
    font-size: 20px;
    font-weight: 500;
}

.title-3{
    font-weight: 500;
    font-size: 18px;
}

.title-4{

}

.title-5{
    
}

.title-1{
    
}

.text{
    
}

button:focus, a:focus{
    outline: none;
}

.h-screen-half{
  height: 50vh;
}

.h-screen-three-quarter{
  height: 50vh;
}

.drag-drop-img{
  width: auto;
  object-fit: contain;
  max-width: 60vw;
}